<div class="wrapper">
    <div>
        <img class="bg1" src="assets/images/loading/bg1.png"/>
        <img class="bg2" src="assets/images/loading/bg2.png"/>
        <img class="bg3" src="assets/images/loading/bg3.png"/>
        <img class="bg4" src="assets/images/loading/bg4.png"/>
        <div class="water">
            <div class="water_line">
                <div class="loadingPer"></div>
            </div>
        </div>
        <img class="loading-btn" src="assets/images/loading/loading-btn.png"/>
        <img class="logo" src="assets/images/loading/logo.png"/>

    </div>


</div>