<div class="wrapper">
    <div>
        <div>
            <img style="z-index:1;width:100%;" class="p7_video" style="width:100%;left:0;" src="./assets/images/pageVideo/p8/P8000.jpg" alt="">
        </div>
        <!--         <div class="page7-1">
            <img class="bg" src="assets/images/page7/page7-1/bg.png" />
            <img class="text" src="assets/images/page7/page7-1/text.png" />
            <img class="text2" src="assets/images/page7/page7-1/text2.png" />
            <img class="ball" src="assets/images/page7/page7-1/ball.png" />
            <img class="act1" src="assets/images/page7/page7-1/act1.png" />
            <img class="act2" src="assets/images/page7/page7-1/act2.png" />
            <img class="act3" src="assets/images/page7/page7-1/act3.png" />
        </div> -->
        <div class="page7-2">
            <img class="bg" src="assets/images/page7/page7-2/bg.png" />
            <img class="ball1" src="assets/images/page7/page7-2/ball1.png" />
            <img class="ball2" src="assets/images/page7/page7-2/ball2.png" />
            <img class="lun1" src="assets/images/page7/page7-2/lun1.png" />
            <img class="lun2" src="assets/images/page7/page7-2/lun2.png" />
            <img class="bg1" src="assets/images/page7/page7-2/bg1.png" />
            <img class="ball3" src="assets/images/page7/page7-2/ball3.png" />
            <img class="ball3-shine" src="assets/images/page7/page7-2/ball3-shine.png" />
            <img class="text3" src="assets/images/page7/page7-2/text3.png" />
        </div>
        <img class="tvc1" src="assets/images/page7/page7-1/text1.png">
        <img class="tvc2" src="assets/images/page7/page7-2/text2.png">
        <img class="tvc3" src="assets/images/page7/page7-1/text3.png" />
        <!-- <img> -->
    </div>
</div>