<div class="wrapper">
    
    <div class="page4">
        <img class="background" src="assets/images/page4/background.png"/>
        <img class="text1" src="assets/images/page4/text.png" alt="">        
        <img class="act1" src="assets/images/page4/act1.png"/>
        <img class="act2" src="assets/images/page4/act2.png"/>
        <img class="act3" src="assets/images/page4/act3.png"/>
        <img class="object1" src="assets/images/page4/object1.png"/>
        <img class="lun1" src="assets/images/page4/lun1.png"/>
        <img class="lun2" src="assets/images/page4/lun2.png"/>
        <img class="object2" src="assets/images/page4/object2.png"/>
        <img class="text2" src="assets/images/page4/text2.png" alt="">
        
        <div>
            <div class="bg1"></div>
            <!--<div class="bg2"></div>-->
            <div class="bg3"></div>
            <div class="bg4"></div>
            <img class="btn" src="assets/images/page4/btn.png" alt="">
        </div>
    </div>
</div>