<div class="wrapper">
    <div class="page3">
        <img class="bg1" src="assets/images/page3/bg1.png"/>
        <img class="logo-left" src="assets/images/page3/logo-left.png"/>
        <img class="logo-l-b" src="assets/images/page3/logo-l-b.png"/>
        <img class="logo-r-b" src="assets/images/page3/logo-r-b.png"/>
        <div class="xian-box">
            <img class="xian" src="assets/images/page3/xian.png"/>
        </div>


        <img class="house" src="assets/images/page3/house.png"/>
        <img class="house-p" src="assets/images/page3/house-p.png"/>
        <img class="opint-h" src="assets/images/page3/opint-h.png"/>
        <img class="guang" src="assets/images/page3/guang.png"/>
        <img class="opint-b" src="assets/images/page3/opint-b.png"/>

    </div>

</div>