<div class="wrapper">
    <img class="bg" src="assets/images/page10/bg.png" alt="">
    <img class="bg2" src="assets/images/page10/bg2.png" alt="">
    <div class="sidai"></div>
    <div class="page10">

        <img class="p10-zhuozi" src="assets/images/page10/p10-zhuozi.png" alt="">
        <img class="qiu2 qiu" src="assets/images/page10/qiu2.png" alt="">
        <img class="qiu5 qiu" src="assets/images/page10/qiu5.png" alt="">
        <img class="guan" src="assets/images/page10/guan.png" alt="">
        <img class="dian qiu" src="assets/images/page10/dian1.png" alt="">

        <img class="qiu1 qiu" src="assets/images/page10/qiu1.png" alt="">
        <img class="qiu3 qiu" src="assets/images/page10/qiu3.png" alt="">
        <img class="qiu4 qiu" src="assets/images/page10/qiu4.png" alt="">
        <img class="qiu6 qiu" src="assets/images/page10/qiu6.png" alt="">


        <img class="qiuqiu1" src="assets/images/page10/qiuqiu1.png" alt="">
        <img class="qiuqiu2 qiu" src="assets/images/page10/qiuqiu2.png" alt="">
        <img class="qiuqiu3" src="assets/images/page10/qiuqiu3.png" alt="">
        <img class="qiuqiu4" src="assets/images/page10/qiuqiu4.png" alt="">
        <img class="qiuqiu5" src="assets/images/page10/qiuqiu5.png" alt="">
        <img class="qiuqiu6" src="assets/images/page10/qiuqiu6.png" alt="">


        <img class="zhaozi" src="assets/images/page10/zhaozi.png" alt="">
        <img class="guang" src="assets/images/page10/guang.png" alt="">

        <img class="p10-text1" src="assets/images/page10/p10-text1.png" alt="">
        <img class="p10-text2" src="assets/images/page10/p10-text2.png" alt="">
        <img class="p10-text3" src="assets/images/page10/p10-text3.png" alt="">

        <img class="xiaozi" src="assets/images/page10/xiaozi.png" alt="">

        <img class="xiaozi" src="assets/images/page10/xiaozi.png" alt="">
        <img class="xiangzi_1" src="assets/images/page10/xiangzi_1.png" alt="">
        <img class="xiangzi_2" src="assets/images/page10/xiangzi_2.png" alt="">

        <img class="text_1" src="assets/images/page10/text_1.png" alt="">
        <img class="text_2" src="assets/images/page10/text_2.png" alt="">

        <img class="btn1" src="assets/images/page10/btn1.png" alt="">
        <img class="btn2" src="assets/images/page10/btn2.png" alt="">

        <img class="star" src="assets/images/page10/star.png" alt="">
        <div class="textCopy">
            <img src="assets/images/page10/clipBg.png">
            <!-- <span>￥皇家3段，预售豪礼￥</span> -->
        </div>
        <button class="divClip">￥皇家3段，预售豪礼￥</button>
        <div class="clipClose"></div>





    </div>
    <img class="fenxiang" src="assets/images/page10/fenxiang.png" alt="">

</div>