<div class="wrapper">
    <div>
        <img class="bg" src="assets/images/page6/bg.png" />
        <img class="fengche" src="assets/images/page6/fengche.png" />
        <img class="naibai" src="assets/images/page6/naibai.png" />
        <img class="naihuang" src="assets/images/page6/naihuang.png" />
        <img class="xingleft" src="assets/images/page6/xingleft.png" />
        <img class="xingright" src="assets/images/page6/xingright.png" />

        <img class="naibai2" src="assets/images/page6/naibai2.png" />
        <img class="milk" src="assets/images/page6/milk.png" />
        <img class="zi" src="assets/images/page6/zi.png" />
        <img class="btn" src="assets/images/page6/btn.png" />
        <!-- <img class="text" src="assets/images/page6/text.png" />
        <img class="shine" src="assets/images/page6/shine.png" /> -->
        <div>
        </div>