<div class="wrapper">
    <div class="page8">
        <img class="bg" src="assets/images/page8/bg1.png" alt="">
        
        <div class="men">
            <img class="light_bg" src="assets/images/page8/light_bg.png" alt="">
            <img class="light" src="assets/images/page8/light.png" alt="">
            <img class="zm" src="assets/images/page8/zm.png" alt="">
            <img class="ym" src="assets/images/page8/ym.png" alt="">
            <img class="light_bg2" src="assets/images/page8/light_bg2.png" alt="">
        </div>
        <img class="tianK" src="assets/images/page8/tianK.png" alt="">
        <div>
            <div class="inputBg1"><img src="assets/images/page8/1.png"/> </div>
            <div class="inputBg2"><img src="assets/images/page8/2.png"/></div>
            <div class="inputBg3"><img src="assets/images/page8/5.png"/></div>
            <input class="tc" type="tel" name="" id="" maxlength="3" placeholder="">
            <div class="inputdiv1"></div>
            <div class="inputdiv2">:</div>
            <div class="inputdiv3"></div>
            <div class="inputdiv4"></div>

        </div>
        <img class="ts" src="assets/images/page8/ts.png" alt="">
        <img class="gr" src="assets/images/page8/gr.png" alt="">
        <img class="bc" src="assets/images/page8/bc.png" alt="">
        <img class="yxj" src="assets/images/page8/yxj.png" alt="">
    </div>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>
    <div class="line5"></div>
    <div class="line6"></div>
    <div class="line7"></div>
    <img class="db" src="assets/images/page8/db.png" alt="">
</div>